*.iml
.gradle
/app/build/
/app/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/.gradle/5.6.4/executionHistory/executionHistory.bin
/.gradle/5.6.4/executionHistory/executionHistory.lock
/.gradle/5.6.4/fileHashes/fileHashes.bin
/.gradle/5.6.4/fileHashes/fileHashes.lock
/.gradle/5.6.4/fileHashes/resourceHashesCache.bin
/.gradle/5.6.4/javaCompile/classAnalysis.bin
/.gradle/5.6.4/javaCompile/jarAnalysis.bin
/.gradle/5.6.4/javaCompile/javaCompile.lock
/.gradle/5.6.4/javaCompile/taskHistory.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/outputFiles.bin
/app/release/
